<!DOCTYPE html>
<html lang="en">
  <% include ../views/partials/_header.ejs %>
<table border=1>
  <tr><td>LongURL</td><td>ShortURL</td><td>Update</td><td>Delete</td><td>URL [open link in new tab]</td><td>Copy to Clipboard</td></tr>
  <% for (var key in urls) { %>
    <% var obj = urls[key]; %>
      <% for (var l in urls[key]) { %>
        <%- "<tr><td>" + urls[key][l] + "</td><td>" + key + "</td>"; %>
        <td>
        <a href="/urls/<%= key %>">Edit!</a>
        </td>
        <td>
          <form method="POST" action="/urls/<%= key %>/delete">
            <input type="submit" value="Delete" />
          </form>
        </td>
        <td>
          <a href="http://localhost:8080/u/<%= key %>" target="_blank">http://localhost:8080/u/<%= key %></a>
        </td>
        </tr>
      <% } %>
  <% } %>

</table>


</body>
</html>